h1{
    color: darkcyan;
}
p{ 
    color: rgb(1, 119, 119);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    color: darkcyan;
}
ul{
    color: rgb(1, 119, 119);
}
h3{
    color: darkcyan;
    
}
button{
    color: cadetblue;
}