h1 {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    font-weight: lighter;
    margin: 30px;
    padding: 30px;

}
p {
    color: rgb(88, 7, 23);
    font-size: larger;
}

.seletor{
    color: rgb(54, 42, 165);
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px;
    line-height: 1.5px;
}

#texto{
    color: rgb(82, 139, 24);
}
h2{
    font-family: Roboto;
    font-weight: lighter;
}